body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#chatbox {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    background: white;
    padding: 10px;
    box-shadow: 0 0 10px gray;
}

#messages {
    height: 150px;
    overflow-y: auto;
    text-align: left;
}
