body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

button {
    padding: 8px 12px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.cart {
    margin-top: 30px;
    background: white;
    padding: 15px;
}

.chatbox {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

#chat {
    height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
}

input {
    width: 70%;
    padding: 5px;
}
